:root {
  --width:500px;
  --height:calc(var(--width) / 2);
}


body {
  background-color: rgb(168, 165, 165);
}

.ball {
  width: var(--width);
  height: var(--height);
  background: url('../images/guiness.webp');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
}

.bouncing {
  animation: toRight linear 5s infinite alternate, bounce linear 8s infinite alternate;
}

.instructions {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 10;
}


@keyframes bounce {
  0% {
    top: 0;
  }
  48% {
  }
  50% {
    top: calc(100vh - var(--height));
  }
  52% {
  }
  100% {
    top: 0;
  }
}

@keyframes toRight {

  0% {
    left: 0;
  }

  100% {
    left: calc(100vw - var(--width));
  }
}
